@model TravelTripProje.Models.AboutModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "About";
}

<div class="main-content">
    <h1>About Us</h1>
    <p>@Model.Description</p>
    <h2>Welcome to Easy-Trip!</h2>
    <p>We have compiled the most beautiful and popular holiday destinations, hotels, and restaurants in Turkey for you. At Easy-Trip, we aim to provide you with the most up-to-date and accurate information to help you plan your vacations in the best way possible. Our goal is to offer you an unforgettable travel experience.</p>
    <p>What you can find on Easy-Trip:</p>
    <ul>
        <li><strong>Popular Destinations:</strong> Detailed information about Turkey's top holiday spots from Istanbul to Cappadocia, Antalya to Trabzon.</li>
        <li><strong>Best Hotels:</strong> Accommodation options from luxury hotels to boutique hotels suitable for every budget.</li>
        <li><strong>Gourmet Stops:</strong> Recommendations about local foods, popular restaurants, and cafes.</li>
        <li><strong>Places to Visit and Activities:</strong> Information about historical and natural beauties, festivals, and events.</li>
    </ul>
    <p>We are here to offer you the best travel guide. Discover Turkey with Easy-Trip and easily access all the information you need while planning your trip.</p>
    <p>We are always with you, have a pleasant journey!</p>
    <p><strong>The Easy-Trip Team</strong></p>
</div>
